* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: var(--color-brand-dark);
  color: var(--color-brand-text);
  margin: 0;
}

address {
  font-style: normal;
}

[class$="-button"] {
  display: block;
}

h1,
h2 {
  font-family: "Monteserrat", "sans-serif";
  font-size: 32px;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}
