@keyframes borderRun-about {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes borderRun-service {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}
