.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.font-weight-500 {
  font-weight: 500;
}

.section-header {
  width: 100%;
}

.section-header-centered {
  margin: 0 auto;
  text-align: center;
}

.section-header-sm {
  max-width: 400px;
}

.section-header-md {
  max-width: 600px;
}

.section-header-lg {
  max-width: 700px;
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack-sm {
  gap: 8px;
}

.stack-md {
  gap: 16px;
}

.stack-lg {
  gap: 24px;
}

.company-logo {
  width: 185px;
}

.emoji {
  white-space: nowrap;
}

.circle-small {
  position: absolute;
  z-index: 2;
  right: 112px;
  bottom: 42px;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: var(--color-brand-border);
}

.circle-big {
  position: absolute;
  bottom: -98px;
  right: -87px;
  width: 269px;
  height: 269px;
  border-radius: 50%;
  background-color: var(--color-secondary-dark);
}
