.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-48 {
  font-size: 48px;
}

.section-header {
  width: 100%;

  &--centered {
    margin: 0 auto;
    text-align: center;
  }
  &--sm {
    max-width: 400px;
  }

  &--md {
    max-width: 600px;
  }

  &--lg {
    max-width: 700px;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  &--sm {
    gap: 8px;
  }
  &--md {
    gap: 16px;
  }
  &--lg {
    gap: 24px;
  }
}

.company-logo {
  width: 185px;
  height: auto;
}

.emoji {
  white-space: nowrap;
}

.circle-small {
  position: absolute;
  z-index: 2;
  right: 112px;
  bottom: 42px;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: var(--color-brand-border);
}

.circle-big {
  position: absolute;
  bottom: -98px;
  right: -87px;
  width: 269px;
  height: 269px;
  border-radius: 50%;
  background-color: var(--color-secondary-dark);
}

.text-brand {
  color: var(--color-brand-default);
}

.text-white {
  color: var(--color-brand-text);
}

.text-center {
  text-align: center;
}

.mrg-center {
  margin: 0 auto;
}

.card-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0.7) 72%,
    #020617 100%
  );
  z-index: 1;
}
