.history-section {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__timeline {
    position: absolute;
    left: 50%;
    top: 70px;
    width: 10px;
    bottom: 0;
    background-color: var(--color-brand-light);
    transform: translateX(-50%);
    border-radius: 5px;
  }
}
