.section {
  padding: 80px 0;
  background-color: var(--color-section-alternative);

  &__title {
    &--centered {
      text-align: center;
    }
  }
}

.section-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  align-items: end;
}
