.footer {
  padding: 80px;
  position: relative;
  background-color: #020617;

  &__info {
    position: relative;
    align-items: center;

    &::after {
      position: absolute;
      content: "";
      border: 1px solid var(--color-brand-light);
      width: 1280px;
      bottom: -20px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  &__content-container {
    display: flex;
    gap: 48px;
    align-items: flex-start;
  }

  &__address-interactives {
    display: flex;
    gap: 48px;
    justify-content: center;
  }

  &__interactives {
    display: flex;
    gap: 40px;
  }

  &__copyright {
    font-size: 14px;
    color: var(--color-secondary-text);
  }

  &__address-interactives,
  &__interactives,
  &__legals,
  &__links,
  &__address {
    flex-grow: 1;
  }

  &__address-title,
  &__links-title,
  &__legals-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__link {
    color: var(--color-brand-text);
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-brand-hover);
    }
  }

  &__input-window-title {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &__input-window-text {
    max-width: 250px;
    font-size: 12px;
  }
}
