.hero-section {
  position: relative;
  padding: 272px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: radial-gradient(
    circle at center bottom,
    rgba(139, 92, 246, 0.6) 0%,
    rgba(15, 23, 42, 0.9) 70%,
    var(--color-brand-dark) 100%
  );

  &__container {
    justify-content: center;
  }

  &__title {
    font-size: 102px;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1.4;
  }

  &__btn-container {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
