.services-section-card {
  position: relative;
  overflow: hidden;
  padding: 32px;
  width: 100%;
  height: 500px;
  min-height: 220px;
  border-radius: 16px;
  border: 1px solid var(--color-brand-highlight);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;

  &__title {
    position: relative;
    z-index: 2;
    line-height: 1.3;
    margin-bottom: 12px;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;

    background: linear-gradient(
      90deg,
      transparent,
      var(--color-brand-hover),
      #9933ea,
      transparent
    );
    opacity: 0;
    transition: opacity 0.35s ease;
    animation: borderRun-service 3s linear infinite;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;

    background: linear-gradient(120deg, var(--color-brand-hover), #9933ea);
    opacity: 0;
    transition: opacity 0.35s ease;
  }

  &:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
  }
  &:hover::before {
    opacity: 0.8;
  }
  &:hover::after {
    opacity: 0.08;
  }
}

.services-section-card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.services-section-card-image {
  transition: transform 0.35s ease;
}

.services-section-card:hover .services-section-card-image {
  transform: scale(1.02);
}
